{% extends "base.html" %}
{% load staticfiles %}

<body class="cuerpo">
  <!--Import jQuery before materialize.js-->
  <!-- inicio nav -->
  <nav class="nav-extended ">
    {% block nav %}
      <div class="nav-wrapper blue light"> <!-- con valign-wrapper se alinea el titulo pero cambia el sidebar -->
        <div class="brand-logo left topbar-boton-arriba-izquierda ">
          <!--botón atrás reemplaza al regresar-->
          <a href="#" onclick="history.go(-1)">
            <i class="material-icons">keyboard_backspace</i>
          </a>
        </div>
        <div class="top-titulos">
          <p class="truncate top-bar-primeralinea">
            <img src="{% static 'images/icon_logo.png' %}"> <strong>AMO LOS PERROS</strong>
          </p>

          <!-- <p class="truncate top-bar-segundalinea">
            <strong>AMO LOS PERROS</strong>
          </p> -->
        </div>  

        <!-- inicio lista de enlaces del menú arriba derecha -->  
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background logo-menu">
                <img class="responsive-img" src="{% static 'images/logoamolosperros.png' %}" alt="side-nav">
              </div>
              <!-- <a href="#!user" class="valign-wrapper">
                <img class="circle avatar-menu" src="imagenes/amo los perros.png">
                <p class="black-text name truncate">                   
                </p>
              </a>-->
            </div>
          </li>
          <li>
            <a href="{% url 'login' %}">
              <i class="material-icons">lock</i>Login
            </a>
          </li>
          <li>
            <a href="{% url 'app_campaing:ver_campanas' %}">
              <i class="material-icons">loyalty</i>Campañas
            </a>
          </li>

          <!-- <li><div class="divider"></div></li> -->
          <!-- <li><a class="waves-effect" href="#!"><i class="material-icons">home</i>Inicio</a></li> -->
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse right show-on-large">
          <i class="material-icons">menu</i>
        </a>
      </div>
     {% endblock %}
  </nav>
    <!-- fin nav -->
  
      {% block content %} 
        <div class="row">
            <div class="col s12 center-align">
                <h4>CAMPAÑA DE CASTRACIÓN</h4>
            </div> 
        </div>

        <div class="row grey lighten-2">
            <div class="col s12 center-align ">
                <strong>La campaña se realizará el Día: {{campaing.fecha}} &nbspHora: 8:00. Para más información consultá la fanpage de <a href="https://www.facebook.com/groups/amo.los.perros">AMO LOS PERROS SP</a>
                </strong>
            </div>
        </div>

        <div class="row">
            <div class="col-12 center-align">
                <h5>Castrá a tu mascota, apadriná la castración de un callejero <br>
                     y así evitás futuros animales abandonados.</h5>
            </div>
        </div>
        
       <div class="row">
            <div class="col s12 l4 center-align">
              <div class="col s12 separador"></div>
                <i class="large material-icons">pets</i>
                  <h5> INSCRIBIR MI MASCOTA
                  </h5>
                  <p>  Castrando
                      a tu mascota ayudas 
                      a evitar que aumente la
                      población de animales
                      sin hogar. Además mejoras su salud, carácter, prevenís enfermedades, 
                       dándole mas años de vida .
                  </p>
              <a class="waves-effect waves-light btn-large btn-ancho" href="../../pre_inscribirse/{{campaing.id}}">Inscribir</a>
            </div>

              <div class="col s12 l4 center-align">
                <div class="col s12 separador"></div>
                  <i class="large material-icons">pan_tool</i>
                  <h5>QUIERO AYUDAR</h5>
                  <p> Podes ayudar con donaciones de medicamentos, elementos de limpieza (trapo de piso, lavandina, bolsas de residuos,
                  rejillas, servilletas).</p>
                  <a class="waves-effect waves-light btn-large btn-ancho" href="#forminscrip">Inscribir</a>
              </div>
            <!--<div class="col s12 separador"></div> -->
            <div class="col s12 l4 center-align ">
                <i class="large material-icons">favorite</i>
                <h5>QUIERO APADRINAR</h5>
                <p> Con tu aporte colaborás a la atención de muchos perros que se encuentran abandonados en la calle y de aquellos que no tienen medios para ser atendidos.</p>
                <a class="waves-effect waves-light btn-large btn-ancho" href="#forminscrip">Inscribir</a>
            </div>
       </div>
       <div class="divider"></div>

       <div class="row">
           <div id="forminscrip" class="col s12 center-align">
               <h4>INSCRIBIR COLABORADOR</h4>
           </div>
       </div>

       <div class="row">
           <div class="col s12 l6 center-align">
                <i class="large material-icons">pan_tool</i>
                
                <p> &nbsp; &nbsp; TE ESPERAMOS A COLABORAR DURANTE LA 
                JORNADA, O A APADRINAR ALGUNA PERRA O GATA 
                CALLEJERA, O DE FAMILIA DE BAJOS RECURSOS.<br> 
                ENTRE TODOS PODEMOS DISMINUIR LA 
                SUPERPOBLACIÓN DE ANIMALES. </p> 
                 <strong>¡AYÚDANOS A DIFUNDIR ENTRE TUS CONTACTOS!</strong>
           </div>

           <div class="col s12 l6 center-align ">
                <form method="POST" accept-charset="utf-8">                                  
                  {% csrf_token %}
                  {{form.as_p}}
                  <div class="row">                    
                        <button type="submit" class="waves-effect waves-light  accent-2 btn-large btn-ancho">ENVIAR
                        </button>
                           <!-- <a class="waves-effect waves-light btn-large btn-ancho" href="#!">ENVIAR</a> -->
                  </div>  
                </form>
            </div>

       </div>  
    </div>      
    
    {% endblock %}   

 {% block extra_js %}
  <!-- Para que funcione el select  -->
  <script>
  $(document).ready(function() {
      $('select').material_select();
    });
  </script>

{% endblock %}
