{% extends "base.html" %}
{% block title %}Amo a los Perros{% endblock %}


{% block encabezado %}Home{% endblock %}


	



{% block content %}


<!-- ESTE ES PARA BUSCAR LOS PREISCRIPTOS (PARA BUSCAR Y DAR DE ALTA EN : buscar_paciente.html) -->

<form  method="post">
	{% csrf_token %}
	{{ form }}
	<div class="right-align">

		<button type="submit" class="waves-effect waves-light accent-2 btn-large">Buscar</button>	
	

		
	</div>

</form>
<br>
<div class="row">

<div class="col s12 m6">
	<p class="center-align">
		<a href="/campaing/formulario_inscripcion/" class="waves-effect waves-light btn-large center-align">no pre-inscripto</a>
	</p>
</div>

<div class="col s12 m6">
	<p class="center-align">
		<a href="/campaing/listado_preinscriptos/" class="waves-effect waves-light btn-large center-align">Lista de pre-inscriptos</a>
	</p>
</div>
</div>







{% endblock %}