{% extends "base.html" %}
{% load staticfiles %}

{% block encabezado %} Colaboración {% endblock %}

{% block nav %} 
    {% include 'nav_public.html' %}
{% endblock %}

{% block content %} 
 	    <br>
        <div class="row">

            <div class="col s12 center-align green ligthen-2 white-text">
                <h5> ¡{{campaing_colaborador.colaborador.nombre}}, gracias por tu ayuda!</h5>
            </div>
            <div class="col s12 center-align green ligthen-2 white-text">
                {% if campaing_colaborador.padrino and campaing_colaborador.ayudante %}
                    <h6> Te has inscripto como COLABORADOR y como PADRINO de la campaña:</h6>
                {% else %}
                    {% if campaing_colaborador.ayudante %}
                        <h6> Te has inscripto como COLABORADOR de la campaña:</h6>
                    {% else %}
                        <h6> Te has inscripto como PADRINO de la campaña:</h6>
                    {% endif %}    
                {% endif %}


            <div class="col s12 center-align grey ligthen-2 white-text z-depth-4">
                <h5> ¡ Gracias por su COLABORACIÓN !</h5>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col s12 center-align ligthen-2 black-text z-depth-4">
                <h5> Nos comunicaremos con usted a la brevedad. </h5>


            </div>

        </div>


        <div class="row borde-negro">
            <div class="col s12 l6 center-align">
                <h4>DATOS DE LA CAMPAÑA:</h4> 
                <p>Campaña:  <b>{{campaing_colaborador.campaing.tipo}}</b></p>
                <p>Fecha:  <b>{{campaing_colaborador.campaing.fecha}}</b></p>
                <p>Lugar:  <b>{{campaing_colaborador.campaing.lugar}}</b></p>      
                <p>Dirección:  <b>{{campaing_colaborador.campaing.lugar.direccion}}</b></p>      
                          
            </div>

        </div>


        <div class="row">
            <div class="col s12 center-align green ligthen-2 white-text">
                <h5> ¡Nos estaremos comunicando a la brevedad! </h5>
            </div>
        </div>

        <div class="divider"></div>
        <div class="separador"></div>
        <div class="row">
            <div class="col s12 m12 center-align">
              <a class="waves-effect waves-light btn-large " href="../../../../"><i class="material-icons left">reply</i>Regresar</a>
            </div>
    
        </div>


{% endblock %}

{% block extra_js %} 

{% endblock %}