{% extends "base.html" %}


{% block encabezado %} Finalizar Campaña {% endblock %}


{% block content %} 
	
	<div class="col s12 separador"></div>

	<div class="row">

		<div class="card-panel grey col s12 m12 center-align z-depth-4">

			<span class="white-text">
				<h5><strong>¡ ATENCIÓN !</strong></h5><br><h5>Al confirmar esta acción se cerrará la campaña activa en la cual no se podrán realizar más acciones y se obtendrán las estadísticas de la misma.</h5>
			</span>

		</div>


<!-- 		<div class="col s12 m12 center-align">
			<a class="waves-effect waves-light accent-2 btn-large" href="../confirmar_cierre_campania/{{campaing.id}} ">FINALIZAR CAMPAÑA</a>
 -->
		<div class="col s12 m6 center-align">

			<a class="waves-effect waves-light accent-2 btn-large" href="../confirmar_cierre_campania/{{campaing.id}} ">FINALIZAR CAMPAÑA</a>

  		</div>

  		<div class="col s12 separador hide-on-med-and-up"></div>

		<div class="col s12 m6 center-align">

			<a class="waves-effect waves-light accent-2 btn-large" href="../home_admin/ "><i class="material-icons">reply</i>REGRESAR</a>  		
  		</div>

	</div>


{% endblock %}

{% block extra_js %} 

{% endblock %}