{% extends "base.html" %}

{% block title %}Amo a los Perros{% endblock %}
{% block encabezado %} Crear Barrio {% endblock %}

{% block content %} 
	

	<div class="col s12 separador"></div>

	<div class="row">

		<div class="col s12 m12 borde-negro center-align z-depth-4">

			<h5><strong>¡ ATENCIÓN !</strong></h5><br><h5>Al confirmar esta acción se cerrará la campaña activa en el cual no se podrán realizar más acciones y se obtendrán las estadísticas del mismo.</h5>

		</div>

		<div class="col s12 separador"></div>

		<div class="col s12 m12 center-align">

  			<button type="submit" class="waves-effect waves-light accent-2 btn-large">FINALIZAR CAMPAÑA</button>

  		</div>

  		<div class="col s12 separador"></div>

		<div class="col s12 m12 center-align">

  			<button type="submit" class="waves-effect waves-light accent-2 btn-large">CANCELAR</button>

  		</div>

	</div>


{% endblock %}

{% block extra_js %} 

{% endblock %}