{% extends "base.html" %}

{% block encabezado %} Crear Lugar {% endblock %}

{% block content %} 
	
	<div class="row">
    <div class="col s12 m6">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
         <button type="submit" class="waves-effect waves-light accent-2 btn-large"><i class="material-icons">add_location</i></i>     <strong>Crear Lugar</strong>
          </button>

        
      </form>


         
    </div>   

     <div class="separador"></div>          
  <div class="col s12 m6"> 
  <h5 class="center-left">Listado de Lugares </h5> 

    <ul class="collection">
  {% for lugar in lugares %}
          
      <li class="collection-item avatar">
         <i class="material-icons circle">account_balance</i>
        <span class="title">{{lugar.nombre}}</span>
        <p>{{barrio.direccion}}
        </p>
        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
      </li>
    

{% endfor %}
    </ul>
  </div>
</div>


{% endblock %}

{% block extra_js %} 

{% endblock %}