{% extends "base.html" %}
  
{% block encabezado %} Crear Usuario {% endblock %}

{% block content %} 
 
    <!-- inicio row  -->
    <div class="row">
      <!-- inicio columna para datos de campaña -->
      <div class="col s12">
       <div class="card-panel grey center-align">
          <span class="white-text"><strong>AGREGUE LOS DATOS PARA CREAR UN <!-- ES PARA QUE VAYA UN RENGLON ABAJO, strong= para que sea en negrita -->
            NUEVO USUARIO</strong>
          </span>
        </div>       
      </div>
      <!-- fin datos campaña -->      
    </div>
          <!-- fin row  -->

                      <!-- INICIO FORMULARIO  -->
  <div class="row">

    <form class="col s12" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
  
      <div class="row"> <!-- row para los botones de abajo -->

        <div class="col s12  center-align">

          <button type="submit" class="waves-effect waves-light accent-2 btn-large"><i class="material-icons left">assignment</i></i>      Crear Usuario
          </button>
        </div>

      </div>              
    </form>
  </div>
             <!-- FIN FORMULARIO  -->
 

{% endblock %}

{% block extra_js %}

{% endblock %}


