{% extends "base.html" %}

{% block title %} Perros de la Calle {% endblock %}
{% block encabezado %} Crear Lugar {% endblock %}

{% block content %} 
	
	<div class="row">
    <form class="col s12" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
  
      <div class="row"> <!-- row para los botones de abajo -->

        <div class="col s12  center-align">

          <button type="submit" class="waves-effect waves-light red accent-2 btn-large btn-ancho"><i class="material-icons">assignment</i></i>      Crear Lugar
          </button>
        </div>

      </div>              
    </form>
  </div>



<h4>Listado de Lugares </h4> 

<div class="row">
{% for lugar in lugares %}
        
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">{{lugar.nombre}}</span>
      <p>{{barrio.direccion}}
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    
  </ul>

{% endfor %}
</div>


{% endblock %}

{% block extra_js %} 

{% endblock %}