{% extends "base.html" %}

{% block encabezado %} Crear Usuario {% endblock %}

{% block content %} 

    <!-- inicio row  -->
    <div class="row">
      <!-- inicio columna para datos de campaña -->
      <div class="col s12">
       <div class="card-panel grey center-align">
          <span class="white-text"><strong>AGREGUE LOS DATOS PARA CREAR UN <!-- ES PARA QUE VAYA UN RENGLON ABAJO, strong= para que sea en negrita -->
            NUEVO USUARIO</strong>
          </span>
        </div>       
      </div>
      <!-- fin datos campaña -->      
    </div>
          <!-- fin row  -->

                      <!-- INICIO FORMULARIO  -->
  <div class="row">

    <form class="col s12" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
  
      <div class="row"> <!-- row para los botones de abajo -->

        <div class="col s12  center-align">

          <button type="submit" class="waves-effect waves-light accent-2 btn-large"><i class="material-icons left">assignment</i></i>      Crear Usuario

          </button>

      </form>

    </div>   

     <div class="separador"></div>          
  <div class="col s12 m6"> 
  <h5 class="center-left">Listado de Usuarios </h5> 

    <ul class="collection">
  {% for usuario in usuarios %}
          
      <li class="collection-item avatar">
        <i class="material-icons circle">perm_identity</i>
        
        <span class="title">{{usuario.username}}</span>

<!--         {% if usuario.last_login %}
        <p>{{usuario.last_login}}
        </p>
        {% endif %}
 -->        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
      </li>
    

{% endfor %}
    </ul>
  </div>
</div>


{% endblock %}

{% block extra_js %} 

{% endblock %}