{% extends "base.html" %}

{% block encabezado %} Crear Barrio {% endblock %}

{% block content %} 
	
	<div class="row">
    <form class="col s12" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
  
      <div class="row"> <!-- row para los botones de abajo -->

        <div class="col s12  center-align">

          <button type="submit" class="waves-effect waves-light accent-2 btn-large"><i class="material-icons">dashboard</i></i>      Crear Barrio
          </button>
        </div>

      </div>              
    </form>
  </div>



<div class="divider"></div>
<h5 class="center-align">Listado de Barrios </h5> 

<div class="row">
  <ul class="collection">
{% for barrio in barrios %}
        
    <li class="collection-item avatar">
      <i class="material-icons circle">room</i>
      <span class="title">{{barrio.nombre}}</span>
      <p>{{barrio.detalle}}
      </p>
      <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
    </li>
    

{% endfor %}
  </ul>
</div>


{% endblock %}

{% block extra_js %} 

{% endblock %}