{% extends "base.html" %}

{%block pagina %} 

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Amo a los perros</title>
  



</head>
<body class="cuerpo">

  <!--             inicio nav -->
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <div class="brand-logo left topbar-boton-arriba-izquierda">
        <!--botón atrás reemplaza al regresar-->
        <a href="#" onclick="history.go(-1)">
          <i class="material-icons">keyboard_backspace</i>
        </a>
      </div>
      <div class="top-titulos">
        <p class="truncate top-bar-primeralinea">
          <strong>AMO LOS PERROS</strong>
        </p>
        <!--<p class="truncate top-bar-segundalinea"> 
          
        </p> -->
      </div>
      <!-- inicio lista de enlaces del menú arriba derecha -->
      <ul id="slide-out" class="side-nav">
        <li>
          <div class="user-view">
            <div class="background logo-menu">
              <img class="responsive-img" src="" alt="side-nav">
            </div>
            
          </div>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons">home</i>Campaña/Crear
          </a>
        </li>
        <li>
          <a href="#!">
            <i class="material-icons"><i class="material-icons">insert_chart</i></i>Crear Reporte
          </a>
        </li>
        <!--<li><div class="divider"></div></li> -->
        <li>
          <a class="waves-effect" href="#!"><i class="material-icons">visibility</i>Ver Campañas</a>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse right show-on-large">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>
  <!--               fin nav -->

  <!-- inicio contenedor principal -->
  <div class="container">
    <!-- inicio row  -->
    <div class="row">
      <!-- inicio columna para datos de campaña -->
      <div class="col s12">
       <div class="card-panel grey center-align">
          <span class="white-text"><strong>AGREGUE LOS DATOS PARA CREAR UNA</strong> <!-- ES PARA QUE VAYA UN RENGLON ABAJO, strong= para que sea en negrita -->
            NUEVA CAMPAÑA
          </span>
        </div>       
      </div>
      <!-- fin datos campaña -->      
    </div>
          <!-- fin row  -->




                      <!-- INICIO FORMULARIO  -->
    <div class="row">
    <form class="col s12" method="POST">
      
      {% csrf_token %}
      {{ form.as_p }}



      <div class="row"> <!-- row para los botones de abajo -->

      <div class="col s12  center-align">

        <button type="submit" class="waves-effect waves-light red accent-2 btn-large btn-ancho"><i class="material-icons">assignment</i></i>      Crear Campaña
        </button>
      </div>

    </div>

      
      
       
    </form>
  </div>
             <!-- FIN FORMULARIO  -->



    

    







 

  </div>
  <!-- fin contenedor principal -->
</body>

  

<script type="text/javascript">
   $(".button-collapse").sideNav();
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true, // Choose whether you can drag to open on touch screens,
      onOpen: function(el) {  }, // A function to be called when sideNav is opened
      onClose: function(el) {  }, // A function to be called when sideNav is closed
    }
  );

</script>

<!-- Para que funcione el select  -->
<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
</html>


{%endblock%}