{% extends "base.html" %}
{% block title %}Resultados{% endblock %}

{% block content %}
<h2>Se buscó: {{ query }}</h2>

{% for paciente in pacientes %}
	<p>{{ paciente.nombre_mascota }} - ${{ paciente.especie }} </p>
  	<p><a href="/campaing/formulario_inscripcion_preinscriptos/{{paciente.id}}/">Inscribir</a></p>

{% endfor %}

<a href="/campaing/inscribir_paciente_pre/" class="waves-effect waves-light btn-large">buscar otro</a>
<a href="/campaing/formulario_inscripcion/" class="waves-effect waves-light btn-large">no pre inscripto</a>

{% endblock %}