{% extends "base.html" %}

  
{% block title %}Amo a los Perros{% endblock %}

			
{% block encabezado %}Amo los Perros{% endblock %}
			
{% block content %} 
	<h5>Preinscriptos </h5> 


 <ul class="collection">
 {% for preinscripto in preinscriptos %}
   <li class="collection-item avatar">
    {% if preinscripto.especie == "canino" %}
    	<img src="../../../static/images/dog.png" alt="" class="circle">
    {% else %}
      	<img src="../../../static/images/cat.png" alt="" class="circle">
    {%endif%}

    <p>
        {{ preinscripto.propietario.apellido}} {{ preinscripto.propietario.nombre}} -<strong>(#{{preinscripto.nro_pre_inscripcion}})</strong>  
        
        <br>
        {{ preinscripto.nombre_mascota }} - ({{ preinscripto.especie }})
        
          </p>
    <a href="/campaing/formulario_inscripcion_preinscriptos/{{preinscripto.id}}/" class="secondary-content">
	  <button class="btn-floating waves-effect waves-light" type="submit" name="action" >
	    <i class="material-icons">playlist_add</i>
	  </button>
    </a>
    </li>

{% endfor %}
</ul>
<br>
<div class="row center-align">
<a href="/campaing/home_admin" class="waves-effect waves-light btn-large">
	<i class="material-icons">reply</i>Regresar</a>
</div>

{% endblock %}


