{% extends "base.html" %}
			
{% block encabezado %}Listado de inscriptos{% endblock %}
			
{% block content %} 
	<h5>Pacientes </h5> 


 <ul class="collection">
 {% for inscripto in inscriptos %}
   <li class="collection-item avatar">
    {% if nscripto.especie == "canino" %}
    	<img src="../../../static/images/dog.png" alt="" class="circle">
    {% else %}
      	<img src="../../../static/images/cat.png" alt="" class="circle">
    {%endif%}

    <p>
        {{ inscripto.propietario.apellido}} {{ inscripto.propietario.nombre}} -<strong>(#{{inscripto.nro_pre_inscripcion}})</strong>  
        
        <br>
        {{ inscripto.nombre_mascota }} - ({{ inscripto.especie }})
        
          </p>
    <a href="../alta_paciente/{{inscripto.id}}" class="secondary-content">
	  <button class="btn-floating waves-effect waves-light" type="submit" name="action" >
	    <i class="material-icons">loyalty</i>
	  </button>
    </a>
    </li>

{% endfor %}
</ul>
<br>
<div class="row center-align">
<a href="/campaing/home_admin" class="waves-effect waves-light btn-large">
	<i class="material-icons">reply</i>Regresar</a>
</div>

{% endblock %}


