{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Amo a los Perros{% endblock %}
{% block encabezado %} Home {% endblock %}

    {% block nav %}
      <div class="nav-wrapper blue light"> <!-- con valign-wrapper se alinea el titulo pero cambia el sidebar -->
        <div class="brand-logo left topbar-boton-arriba-izquierda ">
          <!--botón atrás reemplaza al regresar-->
          <a href="#" onclick="history.go(-1)">
            <i class="material-icons">keyboard_backspace</i>
          </a>
        </div>
        <div class="top-titulos"
          <p class="truncate top-bar-primeralinea">
            <strong>AMO LOS PERROS</strong>
          </p>

          <!-- <p class="truncate top-bar-segundalinea">
            <strong>AMO LOS PERROS</strong>
          </p> -->
        </div>  

        <!-- inicio lista de enlaces del menú arriba derecha -->  
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background logo-menu">
                <img class="responsive-img" src="{% static 'images/logoamolosperros.png' %}" alt="side-nav">
              </div>
              <!-- <a href="#!user" class="valign-wrapper">
                <img class="circle avatar-menu" src="imagenes/amo los perros.png">
                <p class="black-text name truncate">                   
                </p>
              </a>-->
            </div>
          </li>
          <li>
            <a href="{% url 'login' %}">
              <i class="material-icons">lock</i>Login
            </a>
          </li>
          <!-- <li><div class="divider"></div></li> -->
          <!-- <li><a class="waves-effect" href="#!"><i class="material-icons">home</i>Inicio</a></li> -->
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse right show-on-large">
          <i class="material-icons">menu</i>
        </a>
      </div>
     {% endblock %}

{% block content %} 


{% if campana %}  
  {% if campana.preinscripcion %}
      <!-- inicio row  -->
      <div class="row">
        <!-- inicio columna para datos de campaña -->
        <div class="col s12">
         <div class="card-panel grey center-align">
            <span class="white-text"><strong>AGREGUE LOS DATOS PARA CREAR UNA</strong> <!-- ES PARA QUE VAYA UN RENGLON ABAJO, strong= para que sea en negrita -->
              INSCRIPCIÓN
            </span>
          </div>       
        </div>
        <!-- fin datos campaña -->      
      </div>
            <!-- fin row  -->

      <!-- INICIO FORMULARIO  -->
      <div class="row">
        <form class="col s12" method="POST">
          {% csrf_token %}
          <h3>DATOS PROPIETARIO</h3>      
          {{ formPropietario.as_p }}
  	      <h3>DATOS MASCOTA</h3>      
          {{ formAnimalito.as_p }}
    
        <div class="row"> <!-- row para los botones de abajo -->

          <div class="col s12  center-align">

            <button type="submit" class="waves-effect waves-light blue-light accent-2 btn-large btn-ancho"><i class="material-icons">check_circle</i></i>CONFIRMAR
            </button>
          </div>

        </div>              
      </form>
   </div>
  {% else %}
        <br>
        <div class="row">
            <div class="col s12 center-align red ligthen-2 white-text">
                <h5> ¡Preinscripción no habilitada!</h5>
            </div>
        </div>
    
    <div class="row center-align">
      <a href="/" class="waves-effect waves-light btn-large"><i class="material-icons">home</i>Home</a>
    </div>
     
  {% endif %}


{% else %}
      <br>
        <div class="row">
            <div class="col s12 center-align red ligthen-2 white-text">
                <h5> ¡No hay camapañas para preinscribirse!</h5>
            </div>
        </div>

  <div class="row center-align">
    <a href="/" class="waves-effect waves-light btn-large"><i class="material-icons">home</i>Home</a>
  </div>

{% endif %}


{% endblock %}

{% block extra_js %}
  <!-- Para que funcione el select  -->
  <script>
  $(document).ready(function() {
      $('select').material_select();
    });
  </script>

{% endblock %}
