{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Amo los Perros SP {% endblock %}
{% block encabezado %} Preinscripción {% endblock %}

{% block nav %} 
    {% include 'nav_public.html' %}
{% endblock %}

{% block content %} 
 	    <br>
        <div class="row">
            <div class="col s12 center-align green ligthen-2 white-text">
                <h5> ¡Preinscripción EXITOSA!</h5>
            </div>
        </div>

        <div class="row borde-negro">
            <div class="col s12 l6 center-align">
                <h4>Datos de mascota:</h4> 
                <p>Nombre: {{paciente.nombre_mascota}}</p>
                <p>Especie: {{paciente.especie}}</p>
                <p>Sexo: {{paciente.sexo}}</p>      
                          
            </div>

            <div class="col s12 l6 center-align">
                <h4>Nº de Preinscripto:</h4> 
                <h2>{{paciente.id}}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <h4>¡TENER EN CUENTA!</h4>
                <h5>
                    Los animales deben ser llevados<br>
                    en ayunas, si le dieron de comer <br>
                    o tomar agua deben avisar,<br>
                    así de esta manera comunicamos<br>
                    de esa situación a los veterinarios.
                </h5>
            </div>            
        </div>

        <div class="divider"></div>
        <div class="separador"></div>
        <div class="row">
            <div class="col s12 m12 center-align">
              <a class="waves-effect waves-light btn-large" href="/"><i class="material-icons left">reply</i><strong>REGRESAR</strong></a>
            </div>
            
        </div>


{% endblock %}

{% block extra_js %} 

{% endblock %}