{% extends "base.html" %}

  
{% block title %}Amo a los Perros{% endblock %}

{% block encabezado %}Amo los Perros{% endblock %}
			
			
{% block content %} 
	<h4>Lista de Colaboradores </h4> 


<ul class="collapsible" data-collapsible="accordion">
{% for colaborador in colaboradores %}
	    <li>
	      <div class="collapsible-header"><i class="material-icons circle">pan_tool</i>
	      	<span class="title">{{colaborador.nombre}}, {{colaborador.apellido}}</span></div>
	      <div class="collapsible-body"><span><p><i class="material-icons circle">phone</i>
	      {{colaborador.telefono}}</p></span></div>
	    </li>
{% endfor %}
</ul>
{% endblock %}





