{% extends "base.html" %}

{% block title %}Amo a los Perros{% endblock %}
{% block encabezado %} QR {% endblock %}

{% block content %} 
	<!-- inicio contenedor principal -->
  <div class="container">
    <!-- inicio row  -->
    <div class="row">
      <!-- inicio columna para datos de campaña -->
      <div class="col s12">
       <div class="card-panel grey center-align">
          <span class="white-text"><strong>CAMPAÑA {{ campaing.tipo.upper }}</strong><br> <!-- ES PARA QUE VAYA UN RENGLON ABAJO, strong= para que sea en negrita -->
            <strong>en Escuela " {{ campaing.lugar.direccion.upper }} " <br>{{ campaing.fecha }}  </strong>
          </span>
        </div>       
      </div>
      <!-- fin datos campaña -->      
    </div>
    <!-- fin row  -->




    <div class="row"> <!-- ROW QR -->
      <div class="col s12  center-align">
        <p><h2> CÓDIGO - QR </h2></p> <!-- br: para que vaya un renglon abajo -->


        <div class="row">

          <div class="col s2 l3"></div>

          <div class="col s8 l6" id="qrcode"></div>

          <div class="col s2 l3"></div>
        </div>

        <script>
          
          var qrcode = new QRCode("qrcode", {
            text: "{{campaing.url}}",
            width: 260,
            height: 260,
            colorDark : "#ff0000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
          });


        </script>




      </div>
    </div> 

    <!-- row para el link -->
     <div class="row">
        <div class="col s12  center-align">
          <p><h8> Escanee el código o ingrese a: <br><a href="{{ campaing.url }}">{{ campaing.url }}</a> <br>
            para inscribr a su mascota.</h8></p> 
        </div>
     </div>

    <div class="row"> <!-- row para los botones -->

      <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light accent-2 btn-large btn-ancho">
          <i class="material-icons">share</i></i> Compartir
        </a>
      </div>

      <div class="col s12 separador hide-on-med-and-up"></div> <!-- separa los botones -->
      <!-- asi cuando se achica la pantalla, no quedan pegados -->

      <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light accent-2 btn-large btn-ancho">
          <i class="material-icons">arrow_downward</i></i>Descargar</a>
      </div>



    </div>

  </div>
  <!-- fin contenedor principal -->
{% endblock %}

{% block extra_js %} 

{% endblock %}