{% extends "base.html" %}

{% block title %} AMO LOS PERROS {% endblock %}
{% block encabezado %} QR {% endblock %}

{% block content %} 
	<!-- inicio contenedor principal -->
  <div class="container">
    <!-- inicio row  -->
    <div class="row">
      <!-- inicio columna para datos de campaña -->
      <div class="col s12">
       <div class="card-panel grey center-align">
          <span class="white-text"><strong>CAMPAÑA ACTUAL</strong><br> <!-- ES PARA QUE VAYA UN RENGLON ABAJO, strong= para que sea en negrita -->
            Esterelización en Barrio "SAN CAYETANO"
          </span>
        </div>       
      </div>
      <!-- fin datos campaña -->      
    </div>
    <!-- fin row  -->




    <div class="row"> <!-- ROW QR -->
      <div class="col s12 borde-verde center-align">

        <p><h2> CÓDIGO<br>QR </h2></p> <!-- br: para que vaya un renglon abajo -->
      </div>
    </div> 

    <!-- row para el link -->
     <div class="row">
        <div class="col s12 borde-azul center-align">
          <p><h8> Escanee el código o ingrese a: </h8><br>LINK<br><h8>para inscribr a su mascota.</h8></p> 
        </div>
     </div>

    <div class="row"> <!-- row para los botones -->

      <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light red accent-2 btn-large btn-ancho">
          <i class="material-icons">share</i></i> Compartir
        </a>
      </div>

      <div class="col s12 separador hide-on-med-and-up"></div> <!-- separa los botones -->
      <!-- asi cuando se achica la pantalla, no quedan pegados -->

      <div class="col s12 m6 center-align">
        <a class="waves-effect waves-light red accent-2 btn-large btn-ancho">
          <i class="material-icons">arrow_downward</i></i>Descargar</a>
      </div>



    </div>

  </div>
  <!-- fin contenedor principal -->
{% endblock %}

{% block extra_js %} 

{% endblock %}