{% extends "base.html" %}



{% block encabezado %}Campañas{% endblock %}

			
			
{% block content %} 
	

<div class="row">
{% for campana in campanas %}
        
        <div class="col s12 m6 l4">
          <div class="card grey lighten-4">
            <div class="card-content center-align">
              <span class="titulo-ver_campana "><i class="material-icons">event</i>{{ campana.0.fecha  }}</span><br>
              <span class="subtitulo-ver_campana"><i class="material-icons">place</i>{{ campana.0.lugar }}</span>
              <h6 class="total-ver_campana center-align"><strong>{{campana.1}}</strong></h6>
              <h6 class="subtitulo-ver_campana center-align">Castraciones</h6>

            </div>
            <div class="card-action center-align">
              <a class="blue-grey-text" href="../ver_campana/{{campana.0.id}}"><i class="material-icons">assessment</i>Estadísticas</a>
            </div>


          </div>
        </div>




{% endfor %}
</div>

{% endblock %}







