{% extends "base.html" %}



{% block encabezado %}Listado de Campañas{% endblock %}

			
			
{% block content %} 
	

<div class="row">
{% for campana in campanas %}
        
        <div class="col s6 m4 l3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <p class="titulo-ver_campana center-align" > {{ campana.fecha  }}</p>
              <p class="subtitulo-ver_campana center-align">Campaña en: {{ campana.lugar }}</p>
              <p class="total-ver_campana center-align">200</p>
              <p class="subtitulo-ver_campana center-align">Castraciones</p>

            </div>
            <div class="card-action center-align">
              <a href="../ver_campana/{{campana.id}}">Detalles de la campaña</a>
            </div>


          </div>
        </div>




{% endfor %}
</div>

{% endblock %}







