{% load staticfiles %}



<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
          


{% block pagina %} {% endblock%}


<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %} title base {% endblock %}
		</title>
	</head>

	<body>
		 <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
		{% block header %} header base{% endblock %}
		{% block content %} content base {% endblock %}
	</body>

</html>