{% extends "base.html" %}
{% load static %}

{% block encabezado %}Créditos{% endblock %}

{% block content %} 
	    
    <div class="row">
        <h4 class=" titulos center-align">Full Stack Developers</h4>    
    </div>

    <div class="row">
        <div class="col l2"></div>
        <div class="row center-align">
            <div class="col s12 l4">
                <div class="image-container">
                
                <img class="circle" src=" {% static 'images\creditos\brahimnormal255.jpg' %}">
                <h5>Brahim Denysiuk</h5>
                </div>
            </div>    
            <div class="col s12 l4">
                <div class="image-container">
                    
                    <img class="circle" src=" {% static 'images\creditos\matias2.jpg' %}">
                    <h5>Matias Mancuello</h5>
                </div>  
            </div>
            <div class="col l2"></div>        
    </div>

    <div class="row">
        <h4 class="titulos center-align">Frontend Developers</h4>
    </div>

    <div class="row center-align">
        <div class="col l2"></div>
            <div class="col s12 l4">
                <div class="image-container">
                
                <img class="circle" src=" {% static 'images\creditos\alanormal255.jpg' %}">
                <h5>Alan panzich</h5>
                </div>
            </div>    
            <div class="col s12 l4">
                <div class="image-container">
                    
                    <img class="circle" src=" {% static 'images\creditos\marinanormal255jpg.jpg' %}">
                    <h5>Marina Arrieta</h5>
                </div>  
            </div> 
        <div class="col l2"></div>       
    </div>

    
        
    <div class="row center-align">
        
            <div class="col s12 m4">
                <div class="row">
                    <h4 class="titulos">Js Developer</h4>
                </div>
                <div class="image-container">
                
                <img class="circle" src=" {% static 'images\creditos\nelsonnormal255.jpg' %}">
                <h5>Nelson Nuñez</h5>
                </div>
            </div>    
            <div class="col s12 m4">
                <div class="row">
                    <h4 class="titulos">Data</h4>
                </div>
                <div class="image-container">
                    
                    <img class="circle" src=" {% static 'images\creditos\daiananormal255.jpg' %}">
                    <h5>Daiana Gutierrez</h5>
                </div>  
            </div>
            <div class="col s12 m4">
                    <div class="row">
                        <h4 class="titulos">Team Leader</h4>
                    </div>
                    <div class="image-container">
                        
                        <img class="circle" src=" {% static 'images\creditos\simon.jpg' %}">
                        <h5>Simón Ibalo</h5>
                    </div>  
            </div>
                    
    </div> 
    <div class="row">
            <h4 class="titulos center-align">Colaborators</h4>
    </div>    
    <div class="row center-align">
            <div class="col l2"></div>
                <div class="col s12 l4">
                    <div class="image-container">
                    
                    <img class="circle" src=" {% static 'images\creditos\facunormal.jpg' %}">
                    <h5>Facundo Toledo</h5>
                    </div>
                </div>    
                <div class="col s12 l4">
                    <div class="image-container">
                        
                        <img class="circle" src=" {% static 'images\creditos\fedenormal255.jpg' %}">
                        <h5>Federico Imfeld</h5>
                    </div>  
                </div> 
            <div class="col l2"></div>       
    </div>                       
  

{% endblock %}

{% block extra_js %} 

{% endblock %}