{% extends "base.html" %}
{% load staticfiles %}

<body class="cuerpo">
  <!--Import jQuery before materialize.js-->
  <!-- inicio nav -->
  <nav class="nav-extended ">
    {% block nav %}
      <div class="nav-wrapper blue light"> <!-- con valign-wrapper se alinea el titulo pero cambia el sidebar -->
        <div class="brand-logo left topbar-boton-arriba-izquierda ">
          <!--botón atrás reemplaza al regresar-->
          <a href="#" onclick="history.go(-1)">
            <i class="material-icons">keyboard_backspace</i>
          </a>
        </div>
        <div class="top-titulos"
          <p class="truncate top-bar-primeralinea">
            <strong>AMO LOS PERROS</strong>
          </p>

          <!-- <p class="truncate top-bar-segundalinea">
            <strong>AMO LOS PERROS</strong>
          </p> -->
        </div>
  
  
        <!-- inicio lista de enlaces del menú arriba derecha -->
     
        <ul id="slide-out" class="side-nav">
          <li>
            <div class="user-view">
              <div class="background logo-menu">
                <img class="responsive-img" src="{% static 'images/logoamolosperros.png' %}" alt="side-nav">
              </div>
              <!-- <a href="#!user" class="valign-wrapper">
                <img class="circle avatar-menu" src="imagenes/amo los perros.png">
                <p class="black-text name truncate">
                   
                </p>
              </a>-->
            </div>
          </li>
          <li>
            <a href="{% url 'login' %}">
              <i class="material-icons">lock</i>Login
            </a>
          </li>
          <!-- <li><div class="divider"></div></li> -->
          <!-- <li><a class="waves-effect" href="#!"><i class="material-icons">home</i>Inicio</a></li> -->
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse right show-on-large">
          <i class="material-icons">menu</i>
        </a>
      </div>
     {% endblock %}
  </nav>
    <!-- fin nav -->

    
      {% block content %} 
        <div class="row center-align">
            <div class="col s12">            
               <img src="{% static 'images/logoamolosperros.png' %}">               
            </div>
            <p>Ayudamos a los animales en situación de calle, <br>
               alos heridos, organizamos ferias de adopción<br>
               y jornadas de castración a bajo costo.
            </p>
            <div class="divider"></div>
        </div>
       
       {% if campaing %}        
       <div class="row">
           <div class="col s12 m8 center-align">
            <h5>Proxima Campaña: {{campaing.fecha}}</h5>
           </div>
           <div class="col s12 m4">
            <a class="waves-effect waves-light btn-large btn-ancho" href="about_campaña.html"> SOBRE CAMPAÑA</a>
           </div>
       </div>      
       <div class="divider"></div>
       {% endif %}
      <div class="separador"></div>
      <style>
        .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        }
        .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        }
        </style>
        <h5>Mapa de Alcancías</h5>
        <p>Con tu colaboración <br>
        ayudás a erradicar el moquillo</p>
        <div class="google-maps">
            <iframe src="https://www.google.com/maps/d/embed?mid=1Jfy_veK9IiFJXC_ENdYCABjLZsk24B0u" width="600" height="450" frameborder="0" style="border:0" ></iframe>
        </div>
      {% endblock %}   
    

    
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript">
   $(".button-collapse").sideNav();
  $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true, // Choose whether you can drag to open on touch screens,
      onOpen: function(el) {  }, // A function to be called when sideNav is opened
      onClose: function(el) {  }, // A function to be called when sideNav is closed
    }
  );
</script>
</html>





