{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Login {% endblock %}
{% block encabezado %} Login {% endblock %}

{% block nav %} 
    {% include 'nav_public.html' %}
{% endblock %}

{% block content %} 
  <!-- inicio contenedor principal -->
  <div class="container">
    <!-- inicio row  -->
    <div class="row">
      <!-- inicio columna para datos de campaña -->
      <div class="col s12">
       <div class="card-panel grey center-align">
          <span class="white-text"><strong>INGRESO AL SISTEMA ADMINISTRATIVO</strong> 
            
          </span>
        </div>       
      </div>
      <!-- fin datos campaña -->      
    </div>
          <!-- fin row  -->

    <!-- INICIO FORMULARIO  -->
    <div class="row">
		{% if messages %}
			<ul>
			{% for message in messages %}
				<li> {{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		<form class="col s12" method="POST">
			{% csrf_token %}
			{{form.as_p}}
		  <div class="row">   
        <div class="col s12">                 
  		    <button type="submit" class="waves-effect waves-light blue-light accent-2 btn-large btn-ancho">INGRESAR
  		    </button>
        </div>

		</form>

  </div>
             <!-- FIN FORMULARIO  -->
  </div>
  <!-- fin contenedor principal -->

{% endblock %}

{% block extra_js %}
  <!-- Para que funcione el select  -->
  <script>
  $(document).ready(function() {
      $('select').material_select();
    });
  </script>

{% endblock %}






    
