{% extends "base.html" %}

{% block encabezado %}Resultados{% endblock %}

{% block content %}
<h5>Se encontraron: {{ query }}</h5>

 <ul class="collection">
  {% for paciente in pacientes %}
   <li class="collection-item avatar">

    {% if paciente.especie == "canino" %}
    	<img src="../../../static/images/dog.png" alt="" class="circle">
    {% else %}
      	<img src="../../../static/images/cat.png" alt="" class="circle">
    {%endif%}

    <p>
        {{ paciente.nombre_mascota }} - ({{ paciente.especie }}) <br>
        
        <span><i class="material-icons tiny">person</i> {{ paciente.propietario.nombre}} {{ paciente.propietario.apellido}}</span><br>
        
        <span>Tel: {{ paciente.propietario.telefono}}</span>
        {% if not paciente.user_name %}
          <p>NO ATENDIDO</p>
        {% else %}
          <p>ATENDIDO</p>
        {% endif %}
        
    </p>

    <a href="../alta_paciente/{{paciente.id}}" class="secondary-content">
    <button class="btn-floating waves-effect waves-light" type="submit" name="action" >
      <i class="material-icons">loyalty</i>
    </button>
    </a>


  </li>
{% endfor %}
</ul>


<a href="/campaing/buscar_paciente/" class="waves-effect waves-light btn-large"><i class="material-icons left">search</i>Buscar Otro</a>

{% endblock %}