{% extends "base.html" %}
{% load staticfiles %}

{% block encabezado %} Colaboración {% endblock %}

{% block nav %} 
    {% include 'nav_public.html' %}
{% endblock %}

{% block content %} 
 	    <br>
        <div class="row">

            <div class="col s12 center-align grey darken-4 white-text">
                <h4> ¡{{campaing_colaborador.colaborador.nombre}}, gracias por tu ayuda!</h4>
                <h6>Nos comunicaremos con usted a la brevedad.</h6>
            </div>

            <div class="col s12 center-align black-text">

                {% if campaing_colaborador.padrino and campaing_colaborador.ayudante %}
                    <h5> Te has inscripto como COLABORADOR y como PADRINO de la campaña:</h5>
                {% else %}
                    {% if campaing_colaborador.ayudante %}
                        <h5> Te has inscripto como COLABORADOR de la campaña:</h5>
                    {% else %}
                        <h5> Te has inscripto como PADRINO de la campaña:</h5>
                    {% endif %}    
                {% endif %}
            </div>

        

        
        <div class="row"></div>


        <div class="row col s12 borde-negro">
            <div class="col s12 center-align ">
                <h4>DATOS DE LA CAMPAÑA:</h4> 
                <p>Campaña:  <b>{{campaing_colaborador.campaing.tipo}}</b></p>
                <p>Fecha:  <b>{{campaing_colaborador.campaing.fecha}}</b></p>
                <p>Lugar:  <b>{{campaing_colaborador.campaing.lugar}}</b></p>      
                <p>Dirección:  <b>{{campaing_colaborador.campaing.lugar.direccion}}</b></p>      
                          
            </div>

        </div>


        <div class="divider"></div>
        <div class="separador"></div>
        <div class="row">
            <div class="col s12 m12 center-align">
              <a class="waves-effect waves-light btn-large " href="../../../../"><i class="material-icons left">reply</i>Regresar</a>
            </div>
    
        </div>


{% endblock %}

{% block extra_js %} 

{% endblock %}