{% extends "base.html" %}
{% load static %}

{% block encabezado %}Créditos{% endblock %}

{% block content %} 
	    

        <div class="col s12 separador"></div>
<div class="row">
    <h4 class=" titulos center-align"><strong>Full Stack Developers</strong></h4>    
</div>

<div class="row">
    
    <div class="row center-align">
        <div class="col s12 l4">
            <div class="image-container">
            <img class="circle" src=" {% static 'images\creditos\brahimnormal255.jpg' %}">
            <h5>Brahim Denysiuk</h5>
            </div>
        </div>    
        <div class="col s12 l4">
            <div class="image-container">
                <img class="circle" src="{% static 'images\creditos\matiasnormal.jpg' %}">
                <h5>Matias Mancuello</h5>
            </div>  
        </div> 

        <div class="col s12 l4">
          <div class="image-container">
          <img class="circle" src="{% static 'images\creditos\nelsonnormal255.jpg' %}">
          <h5>Nelson Nuñez</h5>
          </div>
               
</div>

<div class="col s12 separador"></div>
<div class="col s12 separador hide-on-med-and-up"></div>


<div class="row">
    <h4 class="titulos center-align"><strong>Frontend Developers</strong></h4>
</div>

<div class="row center-align">
    <div class="col l2"></div>
        <div class="col s12 l4">
            <div class="image-container">
            <img class="circle" src="{% static 'images\creditos\alanormal255.jpg' %}">
            <h5>Alan Panzich</h5>
            </div>
        </div>    
        <div class="col s12 l4">
            <div class="image-container">
                <img class="circle" src="{% static 'images\creditos\marinanormal255jpg.jpg' %}">
                <h5>Marina Arrieta</h5>
            </div>  
        </div> 
    <div class="col l2"></div>       
</div>
<div class="row center-align">
        
    <div class="col l2"></div>  
        <div class="col s12 l4">
            <div class="row">
                <h4 class="titulos"><strong>Data Master</strong></h4>
            </div>
            <div class="image-container">
                <img class="circle" src="{% static 'images\creditos\daiananormal255.jpg' %}">
                <h5>Daiana Gutierrez</h5>
            </div>  
        </div>
        <div class="col s12 l4">
                <div class="row">
                    <h4 class="titulos"><strong>Team Leader</strong></h4>
                </div>
                <div class="image-container">
                    <img class="circle" src="{% static 'images\creditos\simon.jpg' %}">
                    <h5>Simón Ibalo</h5>
                </div>  
        </div>
        <div class="col l2"></div>           
</div> 
<div class="row">
        <h4 class="titulos center-align"><strong>Collaborators</strong></h4>
</div>    
<div class="row center-align">
        
            <div class="col s12 l3">
                <div class="image-container">
                <img class="circle" src="{% static 'images\creditos\facunormal.jpg' %}">
                </div>
                <h5>Facundo Toledo</h5>
            </div>    
            <div class="col s12 l3">
                <div class="image-container">
                    <img class="circle" src="{% static 'images\creditos\fedenormal255.jpg' %}">
                    <h5>Federico Imfeld</h5>
                </div>  
            </div> 

            <div class="col s12 l3">
              <div class="image-container">
              <img class="circle" src="{% static 'images\creditos\agustin.jpg' %}">
              <h5>Agustín Harasiwka</h5>
              </div>
          </div>    
          <div class="col s12 l3">
              <div class="image-container">
                  <img class="circle" src="{% static 'images\creditos\jjjj.jpg' %}">
                  <h5>Juan Martínez</h5>
              </div>  
          </div> 
         
        
</div>                       
                
  

{% endblock %}

{% block extra_js %} 

{% endblock %}